.key
{
    float:left;
    width:100px;
    height:100px;
    font-size: 22px;
}

#box
{
    height:500px;
    width:400px;
}

#display
{
    height: 100px;
    background-color: aqua;
    font-size: 15px;
}
